/* GENERAL */
/* colors & style */
html{
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 90px;
}

ul li{
    list-style: none;
}

/* fonts */
h1,
h2,
h3,
h4{
    text-transform: uppercase;
}

/* common rules */
.contents a{
    color: white;
    text-decoration: none;
}

.contents [class^="col-xs"]:not(.portcol){
    padding-top: 8px;
    padding-bottom: 8px;
}

.portfolio .contents,
.about .contents,
.contacts .contents,
footer{
    padding: 35px 0;
}

.hero,
.about{
    background-color: #23bc9c;
}

.portfolio,
.contact-form{
    color: #2c3e50;
}

/* icons & buttons */
.star{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

.star i{
    font-size: 2.4rem;
    margin: 0 15px;
}

.star::before,
.star::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    height: 3px;
    width: 96px;
}

.bl-btn{
    margin-top: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
    transition: background 300ms, color 300ms;
}

.bl-btn-green{
    background-color: #23bc9c;
    padding-left: 15px;
    padding-right: 15px;
}
/* GENERAL END */

/* HEADER */
header{
    line-height: 80px;
}

header h2{
    color: white;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 54px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

header a{
    text-transform: uppercase;
}

header a:not(:last-child){
    margin-right: 15px;
}

/* customized bootstrap navbar */
header .bl-navbar{
    background-color: #2c3e50;
    border: none;
    margin-bottom: 0;
    height: 90px;
    line-height: 90px;
}

header .bl-navbar-nav{
    background-color: #2c3e50;
}

header .bl-navbar .bl-navbar-nav > li > a{
    color: white;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 1px solid #3a546d;
    border-top: 3px solid transparent;
    transition: all 300ms;
}

header .bl-navbar .bl-brand{
    transition: transform 300ms;
}

header .bl-navbar .bl-navbar-header{
    line-height: 90px;
    height: 80px;
    text-align: right;
}

header .bl-navbar button.bl-navbar-toggle{
    border: none;
    float: none;
    line-height: 1.3;
    background-color: #23bc9c;
    transition: background-color 300ms;
}

header .bl-navbar button.bl-navbar-toggle .bl-menu,
header .bl-navbar button.bl-navbar-toggle .bl-lines{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 500;
}

header .bl-navbar .bl-navbar-toggle .bl-icon-bar{
    background-color: white;
    width: 16px;
}

/* HERO */
.hero .bl-img{
    width: 150px;
}

.hero h1{
    font-weight: 500;
}

.hero .contents{
    padding: 30px 0;
}

/* PORTFOLIO */
.portfolio .img-container{
    cursor: pointer;
    margin: 14px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.portfolio .img-container .layover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 65, 46, 0.452);
    opacity: 0;
    transition: opacity 400ms;
}

.portfolio .img-container .layover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    color: white;
    font-size: 6rem;
    transition: transform 300ms;
}

/* ABOUT */
.about .bl-btn{
    color: white;
    text-decoration: none;
}

/* CONTACT FORM */
.contact-form label,
.contact-form input,
.contact-form button{
    display: block;
}

.contact-form .contents{
    padding: 35px 0 40px;
}

.contact-form .contents .bl-form{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

/* CONTACTS */
.contacts{
    background-color: #3a546d;
}

.contacts ul{
    padding: 0;
}

.contacts ul > li{
    display: inline-block;
}

.contacts ul > li:not(:last-child){
    margin-right: 10px;
}

.contacts ul > li > a{
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid white;
    transition: background-color 300ms;   
}

.contacts ul > li > a > i{
    line-height: 44px;
    transition: transform 300ms, color 300ms;  
}

.contacts .bl-link-azul{
    color: #22b297;
    transition: text-decoration 300ms, color 300ms;
}

/* FOOTER */
footer{
    background-color: #2c3e50;
}

/* DECORATIONS & ANIMATIONS */
header .bl-navbar .bl-navbar-nav > li > a:hover{
    border-bottom: 1px solid transparent;
    background-color: #3a546d;
    color: #23bc9c;
}

header .bl-navbar .bl-brand:hover{
    color: white;
    transform: scale(1.05)
}

header .bl-navbar button.bl-navbar-toggle:hover{
    background-color: #19856d;
}

.portfolio .img-container .layover:hover i{
    transform: translate(-50%, -50%);
}

.img-container:hover .layover{
    opacity: 1;
}

.bl-btn:hover{
    background-color: white;
    color: #2c3e50;
}

.bl-btn-green:hover{
    background-color: #19856d;
    color: white;
}

.contact-form .contents .bl-form:focus{
    box-shadow: 0px 2px 8px 0px rgba(38, 51, 43, 0.301);
}

.contacts ul > li > a:hover{
    background-color: white;
}

.contacts ul > li > a:hover i{
    color: #2c3e50;
    transform: scale(1.2);
}

.contacts .bl-link-azul:hover{
    color: #19856d;
    text-decoration: underline;
}

/******************************** RESPONSIVE ********************************/
/* rule from small to large devices > 768px */
@media screen and (min-width: 768px){
    /* header */
    header .bl-navbar .bl-navbar-nav > li > a{
        line-height: 54px;
        border-bottom: 3px solid transparent;
    }

    header .bl-navbar .bl-navbar-nav > li > a:hover{   
        border-bottom: 3px solid white;
        text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
        background-color: transparent;
    }
}